*{
  font-family: sans-serif;
}
ul, li{
  margin: 0;
  padding: 0;
}

/* Responsive */

@media(min-width:700px){
  .input-group{
    width: 50% !important;
  }
}
@media(min-width:1024px){
  .input-group{
    width: 35% !important;
  }
}

@media (max-width:480px){
  .header{
    display: block!important;
    text-align: center;
  }
  .header .header-Right{
    margin-top: 10px;
  }
}

